* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  width: 100vw;
}

#root {
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-wrapper > header {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

.logged-in-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}