.home-container {
  display: flex;
  flex-direction: column;
  padding: 5% 8%;
}

.home-intro {
  display: flex;
  padding-bottom: 4%;
}

.home-text {
  width: 60%;
  padding-right: 5%;
}

.home-text > p:first-of-type {
  margin-top: 0;
}

.home-text > p:last-of-type {
  margin-bottom: 0;
}

.home-image {
  width: 40%;
  background-image: url("http://static.thewalters.org/images/PS1_48.2770_Fnt_DD_T09.jpg");
  background-size: cover;
  background-position: center;
}
/* ******************************************
BROWSE AND SEARCH
********************************************  */

.browse-search-container {
  display: flex;
  justify-content: space-between;
}

.browse-container, .search-container {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 10px 10px #ddd;
  border-radius: 4px;
}

.browse-container {
  width: 35%;
}

.browse-search-container header {
  padding-left: 5%;
  background-color: #FFCCBC;
  border-bottom: 3px solid #E64A19;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.browse-search-container select,
.browse-search-container input {
  background: transparent;
  border: 1px solid #E64A19;
  box-shadow: 4px 4px 10px #ddd;
}

.browse-inputs button,
.search-form input[type="submit"] {
  outline: none;
  border: none;
  background-color: #FFCCBC;
  font-weight: 600;
  border-radius: 3px;
  padding: .2% 4%;
  box-shadow: 4px 4px 10px #ddd;
  cursor: pointer;
}

.search-form input[type="submit"] {
  width: 25%;
}

.browse-inputs > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse-inputs > div > * {
  width: 50%;
  margin: 5% 0;
  padding: 2%;
}

.search-container {
  width: 60%;
}

.search-container > section {
  width: 100%;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.search-form > .form-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 4% 6%;
}

.search-form > .form-row:last-of-type {
  justify-content: flex-end;
}


.search-form > .form-row > select,
.search-form > .form-row > input[type=text] {
  width: 60%;
  padding: 2%;
}

.search-form > .form-row > label {
  display: flex;
  justify-content: center;
  align-items: center;
}