.results-container {
  display: flex;
  flex-direction: column;
  padding: 5% 6%;
}

.results-container > header {
  padding-bottom: 5%;
}

.results-container > footer {
  padding-top: 5%;
}

.results-container > header > button,
.results-container > footer > button {
  outline: none;
  border: none;
  background-color: #FFCCBC;
  font-size: 2.5rem;
  font-weight: 900;
  color: #E64A19;
  border-radius: 3px;
  padding: .2% 1.5%;
  box-shadow: 4px 4px 10px #ddd;
  cursor: pointer;
}

.results-container > header > button:disabled,
.results-container > footer > button:disabled {
  opacity: 0.5;
  cursor: default;
}

.prev-button {
  margin-right: 2%;
}

.cards-container {
  columns: 4;
}

.result-card {
    display: block;
    padding-bottom: 5%;
}