.detail-container {
  display: flex;
  width: 100%;
  padding: 5%;
}

.detail-image {
  width: 33%;
}

.detail-text {
  width: 66%;
  padding-left: 5%;
}

.detail-text > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detail-text h2 {
  margin-top: 0;
}

.detail-text button {
  padding: 1.5%;
  background-color:#FFCCBC;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: .9rem;
  font-weight: 600;
  box-shadow: 4px 5px 10px #ddd;
}

.detail-image img {
  width: 100%;
}

.detail-image a {
  width: 100%;
}