
.login-card-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-grow: 1;
}

.login-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 10% 0;
  box-shadow: 1px 10px 10px #ddd;
  border-radius: 4px;
}

.login-card > header {
  display: flex;
  border-bottom: 3px solid #E64A19;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.login-card > header > button {
  width: 50%;
  padding: 3%;
  text-align: center;
  background-color: #FFCCBC;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tab-fade {
  opacity: 0.5;
}

.login-card > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card > form > .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4% 10%;
}

.login-card > form > .form-row:first-of-type {
  padding-top: 12%;
}

.login-card > form .form-row:last-of-type {
  justify-content: flex-end;
}
.login-card input[type="submit"] {
  width: 25%;
  padding: 2%;
  background-color:#FFCCBC;
  border: none;
  outline: none;
  border-radius: 3px;
}