
.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.login-card {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.login-card > header {
  display: flex;
}

.login-card > header > button {
  width: 50%;
  text-align: center;
}